<div class="container">
  <h1>Teachers</h1>

  <ul>
    <% @teachers.each do |teacher| %>
      <li>
        <%= link_to teacher.name, teacher_path(teacher) %>
      <%= link_to "Delete",
          teacher_path(teacher),
          method: :delete,
          remote: true,
          class: "text-danger" %>
      </li>
    <% end %>
  </ul>
</div>


